

#include <winresrc.h>

1 VERSIONINFO
FILEVERSION    1, 0, 0, 0
PRODUCTVERSION 1, 0, 0, 0
FILEFLAGSMASK  VS_FFI_FILEFLAGSMASK
#ifdef DEBUG
FILEFLAGS      (VS_FF_PRERELEASE|VS_FF_PRIVATEBUILD|VS_FF_DEBUG)
#else
FILEFLAGS      (VS_FF_PRERELEASE|VS_FF_PRIVATEBUILD)
#endif
FILEOS         VOS_NT
FILETYPE       VFT_DLL
FILESUBTYPE    VFT2_UNKNOWN
{
    BLOCK          "StringFileInfo"
    {
        BLOCK "040904B0" // U.S. English
        {
            VALUE "CompanyName",      "Ádám L. Juhász"
            VALUE "FileDescription",  "Aquaria recipe guide browser and editor"
            VALUE "FileVersion",      "1.0.0.0"
            VALUE "InternalName",     "AquariaRecipes"
            VALUE "LegalCopyright",   "Copyright © 2018, Ádám L. Juhász"
            VALUE "OriginalFilename", "AquariaRecipes.exe"
            VALUE "PrivateBuild",     "Built by Ádám on OBSIDIAN"
            VALUE "ProductName",      "Aquaria Cookbook"
            VALUE "ProductVersion",   "1.0.0-alpha+adam.OBSIDIAN.Win32NT"
        }

        BLOCK "040E04B0" // Hungarian
        {
            VALUE "CompanyName",      "Juhász Ádám L."
            VALUE "FileDescription",  "Aquaria recept útmutató böngészõ és szerkesztõ."
            VALUE "ProductName",      "Aquaria szakácskönyv"
        }
    }

    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0409, 0x04b0, 0x040E, 0x04b0
    }
}
